{% extends 'base.html.twig' %}

{% block body %}
    {% embed 'shared/_responsiveContainer.html.twig' %}
        {% block content %}
            <div class="bg-white dark:bg-gray-800 border dark:border-gray-900 py-3 px-8 rounded-sm">
                <div class="my-4">
                    {{ include('shared/_goBack.html.twig') }}
                </div>

                <div class="flex items-center justify-between space-x-4 dark:text-gray-300">
                    <div class="flex items-center space-x-4">
                        <div class="my-4">
                            {% if user.profile.profilePicture %}
                                <img class="w-16 h-16 rounded-full"
                                     src="{{ asset('files/users/' ~ user.profile.profilePicture) }}"
                                     alt="User avatar">
                            {% else %}
                                <img class="w-16 h-16 rounded-full"
                                     src="{{ asset('files/public/default-avatar.png') }}"
                                     alt="User avatar">
                            {% endif %}
                        </div>
                        <div class="mb-4">
                            <h1 class="text-2xl font-bold">
                                {{ user.firstName ~ ' ' ~ user.lastName }}
                            </h1>
                            <p class="text-gray-500">{{ user.email }}</p>
                        </div>
                    </div>

                    <div>
                        {% if user.id == app.user.id %}
                            <a href="{{ path('app_profile_update') }}">
                                <button class="bg-transparent hover:bg-indigo-500 text-indigo-500 hover:text-white dark:hover:text-gray-300 font-semibold py-2 px-4 border border-indigo-500 hover:border-transparent rounded">
                                    Edit Profile
                                </button>
                            </a>
                        {% else %}
                            {% include 'profile/_followButton.html.twig' with {'targetUser': user} %}
                        {% endif %}
                    </div>
                </div>
                <div class="mb-4 dark:text-gray-300">
                    <div class="space-x-3 mb-2">
                        <strong class="dark:text-gray-200 text-sm">Following: {{ user.follows|length }}</strong>
                        <strong class="dark:text-gray-200 text-sm">Followers: {{ user.followers|length }}</strong>
                    </div>

                    {% if user.profile.age %}
                        <p class="mt-1">
                            <span class="font-bold">Age: </span>
                            {{ user.profile.age }}
                        </p>
                    {% endif %}

                    {% if user.profile.gender %}
                        <p class="mt-1">
                            <span class="font-bold">Gender: </span>
                            {{ user.profile.gender.value|capitalize }}
                        </p>
                    {% endif %}

                    <p class="mt-1">
                        <span class="font-bold">Joined: </span>
                        {{ user.createdAt|date('d M Y') }}
                        <span class="text-gray-400">({{ user.createdAt|ago }})</span>
                    </p>

                    {% if user.profile.twitterUrl %}
                        <p class="mt-1">
                            <span class="font-bold">Twitter: </span>
                            <a class="text-blue-500" href="{{ user.profile.twitterUrl }}">
                                {{ user.profile.twitterUrl }}
                            </a>
                        </p>
                    {% endif %}

                    {% if user.profile.websiteUrl %}
                        <p class="mt-1">
                            <span class="font-bold">Website: </span>
                            <a class="text-blue-500" href="{{ user.profile.websiteUrl }}">
                                {{ user.profile.websiteUrl }}
                            </a>
                        </p>
                    {% endif %}

                    <p class="mt-1"><span class="font-bold">Posts:</span> {{ user.posts|length }}</p>
                    <p class="mt-1"><span class="font-bold">Comments:</span> {{ user.comments|length }}</p>
                </div>

                {% if user.profile.bio %}
                    <div class="mb-4 dark:text-gray-300">
                        <h2 class="text-xl font-bold">Bio</h2>
                        <p>{{ user.profile.bio }}</p>
                    </div>
                {% endif %}
            </div>
        {% endblock %}
    {% endembed %}

    {% embed 'shared/_responsiveContainer.html.twig' %}
        {% block content %}
            {% include 'post/_postListPaginated.html.twig' with {
                'pager': pager
            } %}
        {% endblock %}
    {% endembed %}
{% endblock %}
