<div class="bg-white dark:bg-gray-800 pt-4 pb-2 px-6 border-b-2 border-b-gray-200 dark:border-b-gray-700 w-full md:my-5">
    <div class="flex justify-between items-center mb-4">

        <div class="flex dark:text-gray-300">
            <div
                    data-controller="popover"
                    data-action="mouseenter->popover#show mouseleave->popover#hide"
                    class="relative"
            >
                <img src="https://static-00.iconduck.com/assets.00/avatar-default-symbolic-icon-512x488-rddkk3u9.png"
                     alt="User Profile" class="w-8 h-8 rounded-full mr-2">
                <template data-popover-target="content">
                    <div data-popover-target="card"
                         class="rounded-lg bg-gray-100 dark:bg-gray-600 absolute left-5 top-10 z-50"
                    >
                        {% include 'profile/_profileSmallDetails.html.twig' with {
                            'user': post.author
                        } %}
                    </div>
                </template>
            </div>
            <div>
                <h2 class="text-lg font-semibold">{{ post.author.firstName ~ ' ' ~ post.author.lastName }}</h2>
                <p
                        class="text-gray-500 text-sm relative"
                        data-controller="popover"
                        data-action="mouseenter->popover#show mouseleave->popover#hide"
                >
                    {{ post.createdAt|ago }}
                    <template data-popover-target="content">
                        <div
                                class="rounded-lg bg-gray-100 p-1 dark:bg-gray-600 dark:text-gray-100 absolute right-0 z-50"
                                data-popover-target="card"
                        >
                            {{ post.createdAt|date('d M Y H:i') }}
                        </div>
                    </template>
                </p>
            </div>
        </div>

        <div>
            <button id="dropdownMenuIcon-{{ post.id }}" data-dropdown-toggle="dropdownDots-{{ post.id }}"
                    class="inline-flex items-center p-2 text-sm font-medium text-center text-gray-900 bg-white rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none dark:text-white focus:ring-gray-50 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                    type="button">
                <svg height="16" width="4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                     viewBox="0 0 4 15">
                    <path d="M3.5 1.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Zm0 6.041a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Zm0 5.959a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Z"/>
                </svg>
            </button>

            <div id="dropdownDots-{{ post.id }}"
                 class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
                <ul class="py-2 text-sm text-gray-700 dark:text-gray-200"
                    aria-labelledby="dropdownMenuIcon-{{ post.id }}">
                    <li>
                        <a class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white cursor-pointer">Report</a>
                    </li>
                    <li>
                        <a class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white cursor-pointer">Hide</a>
                    </li>
                    <li>
                        <a class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white cursor-pointer">Something
                            else</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="text-gray-800 dark:text-gray-300 leading-relaxed mb-4">
        <p>
            {{ post.content }}
        </p>
    </div>

    <div class="flex justify-between space-x-4 pt-4 pb-2 px-5 border-t dark:border-gray-700">

        {% include 'reaction/_reactionChoice.html.twig' with {
            'id': post.id,
            'target': 'posts',
            'reaction': reaction,
        } %}

        <a href="{{ path('app_comment', {postId: post.id}) }}" data-turbo-frame="_top"
           class="flex items-center space-x-2 text-gray-500">
            <svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 512 512"
                 class="dark:fill-gray-300">
                <path d="M512 240c0 114.9-114.6 208-256 208c-37.1 0-72.3-6.4-104.1-17.9c-11.9 8.7-31.3 20.6-54.3 30.6C73.6 471.1 44.7 480 16 480c-6.5 0-12.3-3.9-14.8-9.9c-2.5-6-1.1-12.8 3.4-17.4l0 0 0 0 0 0 0 0 .3-.3c.3-.3 .7-.7 1.3-1.4c1.1-1.2 2.8-3.1 4.9-5.7c4.1-5 9.6-12.4 15.2-21.6c10-16.6 19.5-38.4 21.4-62.9C17.7 326.8 0 285.1 0 240C0 125.1 114.6 32 256 32s256 93.1 256 208z"/>
            </svg>
            <span>Comment ({{ post.comments|length }})</span>
        </a>

        <button class="flex items-center space-x-2 text-gray-500">
            <svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 512 512"
                 class="dark:fill-gray-300">
                <path d="M307 34.8c-11.5 5.1-19 16.6-19 29.2v64H176C78.8 128 0 206.8 0 304C0 417.3 81.5 467.9 100.2 478.1c2.5 1.4 5.3 1.9 8.1 1.9c10.9 0 19.7-8.9 19.7-19.7c0-7.5-4.3-14.4-9.8-19.5C108.8 431.9 96 414.4 96 384c0-53 43-96 96-96h96v64c0 12.6 7.4 24.1 19 29.2s25 3 34.4-5.4l160-144c6.7-6.1 10.6-14.7 10.6-23.8s-3.8-17.7-10.6-23.8l-160-144c-9.4-8.5-22.9-10.6-34.4-5.4z"/>
            </svg>
            <span>Share</span>
        </button>
    </div>
</div>
